@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply border shadow;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 11%);
    }

    100% {
        background-color: hsl(0, 0%, 5%);
    }
}

.skeleton-light {
    animation: skeleton-loading-light 1s linear infinite alternate;
}

@keyframes skeleton-loading-light {
    0% {
        background-color: hsl(0, 0%, 18%);
    }

    100% {
        background-color: hsl(0, 0%, 10%);
    }
}

.skeleton-super-light {
    animation: skeleton-loading-super-light 1s linear infinite alternate;
}

@keyframes skeleton-loading-super-light {
    0% {
        background-color: hsl(0, 0%, 24%);
    }

    100% {
        background-color: hsl(0, 0%, 14%);
    }
}


.skeleton-moss {
    animation: skeleton-loading-moss 1s linear infinite alternate;
}

@keyframes skeleton-loading-moss {
    0% {
        background-color: hsl(120, 12%, 11%);
    }

    100% {
        background-color: hsl(120, 12%, 5%);
    }
}

.skeleton-moss-light {
    animation: skeleton-loading-moss-light 1s linear infinite alternate;
}

@keyframes skeleton-loading-moss-light {
    0% {
        background-color: hsl(120, 12%, 18%);
    }

    100% {
        background-color: hsl(120, 12%, 10%);
    }
}

.skeleton-lavender {
    animation: skeleton-loading-lavender 1s linear infinite alternate;
}

@keyframes skeleton-loading-lavender {
    0% {
        background-color: hsl(274, 12%, 11%);
    }

    100% {
        background-color: hsl(274, 12%, 5%);
    }
}

.skeleton-lavender-light {
    animation: skeleton-loading-lavender-light 1s linear infinite alternate;
}

@keyframes skeleton-loading-lavender-light {
    0% {
        background-color: hsl(274, 12%, 18%);
    }

    100% {
        background-color: hsl(274, 12%, 10%);
    }
}

.backdrop-blur:hover {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.prose img {
    margin-bottom: 0;
    width: 100%;
}

.prose img + img {
    margin-top: 0;
}

.prose img + em {
    width: 100%;
    text-align: center;
    opacity: 0.66;
    font-size: 0.7rem;
    display: block;
}